@page
@model UrlShorten.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Tiny Urls";
}

<h4>
    Tiny Urls <a class="btn btn-outline-info" asp-page="Create">Create</a>
</h4>

<form method="get">
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <input type="text" asp-for="Filter" asp-route-filter="@Model.Filter" placeholder="Search by original url, title" class="form-control"/>
            </div>
        </div>
        <div class="col-sm-2">
            <span class="float-right">
                <input type="submit" value="Search" class="btn btn-outline-info"/>
                <a asp-area="" asp-page="/Index" class="btn btn-outline-dark">Reset</a>
            </span>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Click
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Shorten Url
                    </th>
                    <th>
                        Original Url
                    </th>

                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Result.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @if (item.Description?.Length > 10)
                            {
                                <span data-toggle="tooltip" title="@item.Description">@item.Description.Substring(0, 10)</span><span>...</span>
                            }
                            else
                            {
                                <span>@item.Description</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HitCount)
                        </td>
                        <td>
                            @item.CreationTime.ToShortDateString()
                        </td>
                        <td>
                            <button class="btn btn-sm far fa-copy" data-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="@item.ShortenUrlView"></button>

                            <a id="copy-@item.Identity" target="_blank" href="@item.ShortenUrlView">@Html.DisplayFor(modelItem => item.ShortenUrlView)</a>


                        </td>
                        <td>
                            @if (item.RawUrl.Length > 15)
                            {
                                <span data-toggle="tooltip" title="@item.RawUrl">@item.RawUrl?.Substring(0, 15)</span><span>...</span>
                            }
                            else
                            {
                                <span>@item.RawUrl</span>
                            }
                            <button class="btn btn-sm far fa-copy" data-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="@item.RawUrl"></button>
                        </td>

                        <td>
                            @if (!item.IsDeleted)
                            {
                                <span>
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="fa fa-edit" data-toggle="tooltip" title="Edit"></a>
                                    <a asp-page="./Details" asp-route-id="@item.Id" class="fa fa-eye" data-toggle="tooltip" title="View Details"></a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="fa fa-trash" data-toggle="tooltip" title="Delete"></a>
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-warning">Deleted</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-page="/Index" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-3">
        <span class="float-right">
            Total @Model.Result.TotalCount items found
        </span>
    </div>
</div>


@section scripts {

    <script>
        new ClipboardJS('.btn');

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

}
